<div>
    <script>
        function closeCaptionModal() {
            document.getElementById('captionModal').style.display = 'none';
        }
    </script>
    <div>
        <div class="modal-overlay" onclick="closeCaptionModal()"></div>
        <div class="modal">
            <div class="text-container">
                <h2>Edit album caption</h2>
                <p>Describe this album. Add all the context that occurs to you!</p>
                <div class="input-group">
                    <div class="input-wrapper">
                        <textarea unicorn:model.lazy="caption" type="text" placeholder="Add a caption for the album..." autocomplete="off">{{ caption }}</textarea>
                    </div>
                </div>
            </div>

            <div class="modal-buttons">
                <button class="cancel" onclick="closeCaptionModal()">Cancel</button>
                <button class="save" unicorn:click="save_chosen">Save</button>
            </div>
        </div>
    </div>
</div>
