<div>
    <script>
        function closeLocationModal() {
            document.getElementById('editLocationModal').style.display = 'none';
        }
    </script>
    <div>
        <div class="modal-overlay" onclick="closeLocationModal()"></div>
        <div class="modal">
            <div class="text-container">
                <h2>Edit album location</h2>
                <p>If all of the photos in this album were taken at the same location, provide it here.</p>
                <p><strong>All locations will be changed to the one you choose.<br>
                    This cannot be undone.</strong></p>
                <input class="location-search" unicorn:model.debounce.500ms="search_word" type="text"
                       placeholder="Type a location..." autocomplete="off"/>

                {% if chosen %}
                <p style="margin-bottom: 0"><strong>Location: </strong>{{ chosen.pretty }}</p>
                {% endif %}

                <div class="suggestions-dropdown" style="position: relative; {% if not suggestions %}display: none;{% endif %}">
                    {% for suggestion in suggestions %}
                        <div unicorn:click="updateChosen({{ suggestion }})">{{ suggestion.pretty }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="modal-buttons">
                <button class="cancel" onclick="closeLocationModal()">Cancel</button>
                <button class="save" unicorn:click="save_chosen">Save</button>
            </div>
        </div>
    </div>
</div>
