<div>
    <script>
        function closeOffsetTimeModal() {
            document.getElementById('offsetTimeModal').style.display = 'none';
        }
    </script>
    <div>
        <div class="modal-overlay" onclick="closeOffsetTimeModal()"></div>
        <div class="modal">
            <div class="text-container">
                <h2>Edit album dates</h2>
                <p>All photo dates will be offset the amount of time specified below.</p>
                <div class="input-group">
                    <div class="input-wrapper">
                        <input unicorn:model="month_offset" type="text" placeholder="MM" autocomplete="off" maxlength="2">
                        <label>Months</label>
                    </div>
                    <div class="input-wrapper">
                        <input unicorn:model="day_offset" type="text" placeholder="DD" autocomplete="off" maxlength="2">
                        <label>Days</label>
                    </div>
                    <div class="input-wrapper">
                        <input unicorn:model="year_offset" type="text" placeholder="YYYY" autocomplete="off" maxlength="4">
                        <label>Years</label>
                    </div>
                </div>
            </div>

            <div class="modal-buttons">
                <button class="cancel" onclick="closeOffsetTimeModal()">Cancel</button>
                <button class="save" unicorn:click="save_chosen">Save</button>
            </div>
        </div>
    </div>
</div>
