{% extends "_page_template.html" %}

{% load unicorn %}
{% block body %}

    <div class="metadata-container">

        <div style="display:none" id="editLocationModal">
            {% unicorn "edit-location-modal" album_id=immich.id assets=immich.assets %}
        </div>

        <div style="display:none" id="offsetTimeModal">
            {% unicorn "offset-time-modal" album_id=immich.id assets=immich.assets %}
        </div>

        <div style="display:none" id="captionModal">
            {% unicorn "caption-modal" album_id=immich.id caption=immich.description %}
        </div>

        <div class="container">
            <a href="/" class="back-link">&larr; Back to swiping</a>

            <div class="title">{{ immich.albumName }}</div>

            <div class="info">
                <span class="material-symbols-outlined">calendar_today</span>
                {{ summary_data.dates }}
                <span class="edit-btn material-symbols-outlined"
                      onclick="document.getElementById('offsetTimeModal').style.display='block'">edit</span>
            </div>

            <div class="info">
                <span class="material-symbols-outlined">location_on</span>
                {{ summary_data.locations }}
                <span class="edit-btn material-symbols-outlined"
                      onclick="document.getElementById('editLocationModal').style.display='block'">edit</span>
            </div>

            <div class="info caption"
                 onclick="document.getElementById('captionModal').style.display='block'">
                <span class="material-symbols-outlined">comment</span>
                {% if immich.description %}
                    Edit caption
                {% else %}
                    Add a caption
                {% endif %}
            </div>
            {% if immich.description %}
                <p>{{ immich.description }}</p>
            {% endif %}

        </div>
        <hr>
        <div class="thumbnail-container">
            {% for asset in immich.assets %}
                <div class="image-card">
                    <div class="image-container">
                        <img src="/asset/{{ asset.id }}/thumb" alt="">
                    </div>
                    <div class="metadata">
                        <p>{{ asset.dateHuman }}</p>
                        <p>
                            {% if asset.exifInfo.city or asset.exifInfo.state %}
                                {{ asset.exifInfo.city }}{% if asset.exifInfo.city and asset.exifInfo.state %}, {% endif %}{{ asset.exifInfo.state }}
                            {% else %}
                                <span class="missing">Unknown</span>
                            {% endif %}
                        </p>
                        {% if asset.exifInfo.description %}
                            <p>{{ asset.exifInfo.description }}</p>
                        {% else %}
                            <p class="missing">No Description.</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
